@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

.bg-color-name-title {
    background-color: #676767;
}

.bg-color-three-reasons {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-resume {
    background-color: purple;
    
}

.ui-menu-color-contact {
    background-color: blue;
}

.ui-menu-color-download {
    background-color: grey;
}

.bg-color-personal-info {
    background-color: darkcyan;
}

.bg-color-resume {
    background-color: rgba(128, 0, 128, .8);
    color: #fafafa;
}

header {
    margin: 0;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/Coneheads.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

#nav {
    margin: 0;
}

.hvr-sweep-to-bottom:before {
    background-color: #000;
    height: 120px;
}

.uppercase {
    text-transform: uppercase;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

footer {
    background-color: #525252;
    color: #fafafa;
    min-height: 120px;
}

.inline-block {
    display: inline-block;
}

.cv-pdf {
    font-size: 18px;
    color: #fafafa;
    padding-left: 5px;
    text-align: center;
    transition: all .5s ease-in-out;
}

.cv-pdf:hover {
    color: black;
}

.social-links {
    padding-bottom: 15px;
}
.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all .5s ease-in-out;

}

.social-links li a i:hover {
    background-color: black;
}

#footer-details { 
    padding: 20px;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.three-reasons-icon {
    font-size: 26px;
    color: darkcyan;
}

.three-reasons-heading {
    margin-bottom: 15px;
}

.personal-info-item {
    margin-bottom: 15px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .key p {
    font-weight: 700;
}

.personal-info-item .value {
    width: 60%;
    position: relative;
    
}

.progress {
    position: relative;
    height: 25px;
    margin: 4px;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 0px 15px 30px 12px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.2);

}

.progress-section {
    background-color: grey;
    margin: 40px 20px;
} 

.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: .8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}

.history-items {
    margin-bottom: 30px;
}